<span data="filter">
  <span class="label border p-1" ng-class="{ 'bg-primary-subtle' : $ctrl.filter._isDefault, 'bg-light' : !$ctrl.filter._isDefault }">
    <i ng-if="$ctrl.filter._isDefault" class="bi bi-lock"></i>
    <i ng-if="!$ctrl.filter._isDefault" class="bi bi-filter"></i>

    <span translate>{{$ctrl.filter._label}}</span>
    <span>{{$ctrl.filter.comparitorLabel}}</span>
    <span>{{$ctrl.filter.displayValue}}</span>

    <!-- optional close button, displayed if this is not a default filter -->
    <a
       href
       ng-if="!$ctrl.filter._isDefault"
       ng-click="$ctrl.onRemove({ filter: $ctrl.filter._key })">

      <i class="bi bi-x"></i>
    </a>
  </span>
</span>
