<div class="d-flex flex-row align-items-center justify-content-start gap-2">
  <div ng-hide="$ctrl.filters" class="text-muted" data-bh-filter-bar-no-filters>
    <i class="bi bi-filter"></i>
    <span translate>FORM.INFO.NO_FILTERS_APPLIED</span>
  </div>

  <ul ng-if="$ctrl.filters.defaultFilters" class="d-flex flex-row list-inline filter-list gap-2" data-bh-filter-bar-default-filters>
    <li ng-repeat="filter in $ctrl.filters.defaultFilters">
      <bh-filter filter="filter"></bh-filter>
    </li>
  </ul>

  <ul ng-if="$ctrl.filters.customFilters.length" class="d-flex flex-row list-inline filter-list gap-2" data-bh-filter-bar-custom-filters>
    <li ng-repeat="filter in $ctrl.filters.customFilters">
      <bh-filter filter="filter" on-remove="$ctrl.onRemoveFilter({ filter: filter})"></bh-filter>
    </li>
  </ul>
</div>
