<div class="row g-3">
  <div class="col-sm-6 col-md-3" ng-repeat="type in $ctrl.types track by type.label">
    <div
      type="button"
      id="entry-entry-type-{{type.label}}"
      class="card card-one border"
      ng-class="{ 'bg-primary-subtle border-primary' : $ctrl.isTypeSelected(type) }"
      ng-click="$ctrl.selectEntryExitType(type)"
    >
      <div class="card-body overflow-hidden text-center">
        <h2 class="card-value text-primary" translate><i ng-class="type.icon"></i></h2>
        <h3 class="text-dark text-uppercase fw-semibold mb-1" translate>{{type.labelKey}}</h3>
        <span class="fs-xs text-secondary mb-0 lh-4" translate>{{$ctrl.getLabel(type)}}</span>
      </div>
    </div>
  </div>
</div>

<div ng-if="$ctrl.hasNoTypesDefined">
  <p class="alert alert-danger">
    <i class="bi bi-warning"></i>
    <span ng-show="$ctrl.isEntry === 'true'" translate translate-values="$ctrl.depot">STOCK.NO_ENTRY_TYPES</span>
    <span ng-hide="$ctrl.isEntry === 'true'" translate translate-values="$ctrl.depot">STOCK.NO_EXIT_TYPES</span>
  </p>
</div>
