<div
  ng-hide="row.entity.isValid"
  class="ui-grid-cell-contents text-center"
  ng-class="{
    'bg-danger text-danger' : row.entity.lot,
    'bg-warning text-warning' : !row.entity.lot,
  }"
  style="padding: 5px;">
  <span ng-show="!row.entity.lot" class="bi bi-circle-o"></span>
  <span ng-hide="!row.entity.lot" class="bi bi-times-circle"></span>
</div>

<div ng-show="row.entity.isValid" class="ui-grid-cell-contents bg-success text-center">
  <span class="text-success bi bi-check-circle"></span>
</div>
