<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>OpenSIGL</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />

    <!-- Compiled bootstrap style definition -->
    <link rel="stylesheet" href="css/opensigl-theme.min.css" />
    <link rel="stylesheet" href="css/opensigl.min.css" />
  </head>

  <body class="app" ng-app="opensigl" ng-strict-di>

    <div
      id="app-container"
      ng-controller="ApplicationController as AppCtrl">

      <growl-notifications></growl-notifications>

      <!-- Main application layout -->
      <os-layout ng-if="AppCtrl.isLoggedIn()">
        <div ui-view></div>
      </os-layout>

      <!-- Login layout -->
      <os-login ng-if="!AppCtrl.isLoggedIn()"></os-login>

      <!-- System wide notifications -->
      <div class="ng-cloak">
        <growl-notification data-bh-growl-notification data-notification-type="{{notification.format}}" ng-repeat="notification in AppCtrl.notifications" ng-class="notification.format" class="fading ng-animate-enabled" ttl="notification.ttl">
          <div class="notification-icon"><span ng-class="notification.icon" class="glyphicon"></span></div>
          <div class="notification-message" title="{{notification.message}}">{{notification.message}}</div>
          <button type="button" class="close" ng-click="$growlNotification.remove()" data-dismiss="notification"><span>&times;</span></button>
        </growl-notification>
      </div>

    </div>

    <!-- scripts loaded in body to prevent page from 'hanging'-->
    <script src="js/vendor/vendor.min.js"></script>
    <script src="js/opensigl/opensigl.min.js"></script>

    <!-- this is templated in with variables from gulp-template -->
    <script>
      angular.module('opensigl')
        .config(['$compileProvider', function ($compileProvider) {
          $compileProvider.debugInfoEnabled(<%= isDevelopment %>);
        }])
    </script>
  </body>
</html>
