/* *
 * OpenSIGL
 * @author EyanoApp
 * @version 1.0.0
 */

/** Angular helper class, wait until the page is bootstraped to display */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

:root {
  --primary-color: #566db4;
}

.primary {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.opensigl-logo {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-right: auto;
  font-family: sans-serif;
}

.opensigl-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.opensigl-title > .toolbar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.headercrumb {
  padding: 8px 0px;
  list-style: none;
  border-radius: 2px;
}
ol.headercrumb {
  margin-bottom : 0px !important;
  white-space : nowrap;
}
.headercrumb > li {
  display: inline-block;
}
.headercrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.headercrumb > .active {
  color: #777777;
}

.headercrumb > .title {
  color : #313131;
  font-weight : bold;
}

.headercrumb > .static {
  text-decoration: none;
  color: #828080;
}

.flex-header {
  background-color: none;
}

/**
 * ==========================================
 * Fix theme colors
 * ==========================================
 */
.text-info {
  color: var(--primary-color) !important;
}
