<!-- sidebar -->
<div class="sidebar">
  <div class="sidebar-header gap-1">
    <a ui-sref="index"><img ng-src="{{ $ctrl.getEnterpriseLogo() }}" width="40" height="40"></a>
    <a ui-sref="index" class="opensigl-logo">OpenSIGL</a>
  </div><!-- sidebar-header -->
  <div id="sidebarMenu" class="sidebar-body">
    <os-navigation></os-navigation>
  </div><!-- sidebar-body -->
  <div class="sidebar-footer">
    <div class="sidebar-footer-top">
      <div class="sidebar-footer-thumb">
        <img ng-src="{{ $ctrl.getEnterpriseLogo() }}" ng-alt="{{ $ctrl.user.display_name }}">
      </div><!-- sidebar-footer-thumb -->
      <div class="sidebar-footer-body">
        <h6><a href="">{{ $ctrl.user.display_name }}</a></h6>
        <p>{{ $ctrl.user.email }}</p>
      </div><!-- sidebar-footer-body -->
      <a id="sidebarFooterMenu" class="dropdown-link"><i class="bi bi-arrow-down"></i></a>
    </div><!-- sidebar-footer-top -->
    <div class="sidebar-footer-menu">
      <nav class="nav">
        <a href=""><i class="bi bi-pencil-square"></i> Edit Profile</a>
        <a href=""><i class="bi bi-person-circle"></i> View Profile</a>
      </nav>
      <hr>
      <nav class="nav">
        <a href=""><i class="bi bi-gear"></i> Account Settings</a>
        <a href=""><i class="bi bi-escape"></i> Log Out</a>
      </nav>
    </div><!-- sidebar-footer-menu -->
  </div><!-- sidebar-footer -->
</div><!-- sidebar -->

<!-- header-main -->
<div class="header-main px-3 px-lg-4 d-flex align-items-center justify-content-between">
  <a id="menuSidebar" href class="menu-link me-3 me-lg-4"><i class="bi bi-list"></i></a>

  <div class="d-flex align-items-center">
    <div class="dropdown dropdown-profile ms-3 ms-xl-4">
      <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside">
        <div class="avatar online"><span class="avatar-initial bg-primary">{{ $ctrl.user.display_name.charAt(0) }}</span></div>
      </a>
      <div class="dropdown-menu dropdown-menu-end mt-10-f">
        <div class="dropdown-menu-body">
          <h5 class="mb-1 text-dark fw-semibold">{{ $ctrl.user.display_name }}</h5>
          <p class="fs-sm text-secondary">{{ $ctrl.user.email }}</p>
          <nav class="nav">
            <a ui-sref="settings"><i class="bi bi-gear"></i> Reglages</a>
            <a ng-click="$ctrl.logout()"><i class="bi bi-escape"></i> Deconnexion</a>
          </nav>
        </div><!-- dropdown-menu-body -->
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div>
</div><!-- header-main -->

<div class="main main-app p-2 p-lg-3">
  <ng-transclude></ng-transclude>
</div>