<div>
  <div class="table-responsive">
    <table class="table table-files">
      <thead>
        <tr>
          <th>Groupe débiteur</th>
          <th>Compte</th>
          <th>Membres</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="debtorGroup in GroupCtrl.debtorGroups | filter: {name : GroupCtrl.filter} | orderBy: GroupCtrl.sort.attribute:GroupCtrl.sort.reverse track by debtorGroup.uuid " data-row="{{ $index }}">
          <td>
            <div class="media">
              <div class="media-icon primary"><i class="bi bi-folder2"></i></div>
              <h6 class="file-name">
                <a href ui-sref="debtorGroups.update({uuid : debtorGroup.uuid})" class="text-primary text-bold">
                  {{debtorGroup.name}}
                </a>
                <span ng-if="debtorGroup.locked" class="bi bi-lock text-danger"></span>
                <div class="mt-1">
                  <span ng-if="debtorGroup.is_insolvent" class="text-warning" translate>
                    DEBTOR_GROUP.POLICIES.INSOLVENT
                  </span>
                  <span ng-if="debtorGroup.is_convention" class="bi bi-university"></span>
                  <span ng-if="debtorGroup.is_convention" translate>
                    DEBTOR_GROUP.POLICIES.CONVENTIONED
                  </span>
                  <span ng-if="debtorGroup.is_non_client_debtor_groups" class="bi bi-home text-success"></span>
                  <span ng-if="debtorGroup.is_non_client_debtor_groups" class="text-success" translate>
                    DEBTOR_GROUP.POLICIES.NOT_ASSIMILATED_CLIENT
                  </span>
                </div>
              </h6>
            </div><!-- media -->
          </td>
          <td>
            <span translate> FORM.LABELS.ACCOUNT_NUMBER </span> : <b>{{debtorGroup.account_number}}</b>
          </td>
          <td>
            <div>
              <a ui-sref="patientRegistry({
                filters : [
                  { key : 'debtor_group_uuid', value : debtorGroup.uuid, displayValue: debtorGroup.name },
                  { key : 'period', value : 'allTime' }
                ]})">
                <span class="bi bi-people" aria-hidden="true"></span> <b>{{debtorGroup.total_debtors}}</b> <span translate> DEBTOR_GROUP.DEBTOR.SUBSCRIBED </span>
              </a>
            </div>
          </td>
          <td>
            <div class="dropdown-file">
              <a href="" class="dropdown-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-more-2-fill"></i></a>
              <div class="dropdown-menu dropdown-menu-end">
                <a href data-method="update" data-debtorGroup="{{debtorGroup.label}}" ui-sref="debtorGroups.update({uuid : debtorGroup.uuid})" data-toggle="modal" class="dropdown-item details">
                  <i class="ri-information-line"></i> <span translate>FORM.BUTTONS.EDIT</span>
                </a>
                <a href data-method="delete" ng-click="GroupCtrl.del(fiscal)" class="dropdown-item text-danger">
                  <i class="ri-delete-bin-line"></i> <span translate>FORM.BUTTONS.DELETE</span>
                </a>
              </div>
            </div><!-- dropdown -->
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- table-responsive -->

  <!-- list status information zone -->
  <div>
    <p class="text-center" ng-show="GroupCtrl.loadingState">
      <span class="bi bi-circle-o-notch fa-spin"></span>
      <span translate>TABLE.COLUMNS.LOADING</span>
    </p>
    <p ng-show="(GroupCtrl.debtorGroups.length == 0) && !GroupCtrl.loadingError && !GroupCtrl.loadingState"
      class="text-center text-danger" translate>
      FORM.LABELS.NO_CASHBOXES_REGISTRED
    </p>
  </div>

  <!-- list pagination -->
  <div uib-pagination
    total-items="GroupCtrl.debtorGroups.length"
    ng-model='GroupCtrl.currentPage'
    items-per-page='GroupCtrl.pageSize'
    next-text="&rsaquo;"
    previous-text="&lsaquo;"
    first-text="&lsaquo;&lsaquo;"
    last-text="&rsaquo;&rsaquo;"
    boundary-links="true">
  </div>
</div>
