<div>
  <div class="table-responsive">
    <table class="table table-files">
      <thead>
        <tr>
          <th>Groupe créditeur</th>
          <th>Compte</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cg in CreditorGroupCtrl.creditorGroupList | filter    : {name : CreditorGroupCtrl.filter} | orderBy   : CreditorGroupCtrl.sort.attribute: CreditorGroupCtrl.sort.reverse track by cg.uuid" data-row="{{ $index }}">
          <td>
            <div class="media">
              <div class="media-icon primary"><i class="bi bi-folder2"></i></div>
              <h6 class="file-name">
                <a data-method="update" data-update="{{cg.name}}" ui-sref="creditorGroups.update({uuid : cg.uuid})" class="text-primary text-bold">
                  {{cg.name}}
                </a>
                <span ng-if="cg.locked" class="bi bi-lock text-danger"></span>
                <div class="mt-1">
                  <span class="bi bi-bars"></span> <b>{{ cg.total_creditors }}</b> {{ 'FORM.LABELS.CREDITOR_SUBCRIBED' | translate }}
                </div>
              </h6>
            </div><!-- media -->
          </td>
          <td>
            <span translate> FORM.LABELS.ACCOUNT_NUMBER </span> : <b>{{cg.number}}</b>
          </td>
          <td>
            <div class="dropdown-file">
              <a href="" class="dropdown-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-more-2-fill"></i></a>
              <div class="dropdown-menu dropdown-menu-end">
                <a data-method="update" data-update="{{cg.name}}" ui-sref="creditorGroups.update({uuid : cg.uuid})" data-toggle="modal" class="dropdown-item details">
                  <i class="ri-information-line"></i> <span translate>FORM.BUTTONS.EDIT</span>
                </a>
                <a href data-method="delete" ng-click="CreditorGroupCtrl.del(fiscal)" class="dropdown-item text-danger">
                  <i class="ri-delete-bin-line"></i> <span translate>FORM.BUTTONS.DELETE</span>
                </a>
              </div>
            </div><!-- dropdown -->
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- table-responsive -->

  <!-- list status information zone -->
  <div>
    <p class="text-center" ng-show="CreditorGroupCtrl.loadingState">
      <span class="bi bi-circle-o-notch fa-spin"></span>
      <span translate>TABLE.COLUMNS.LOADING</span>
    </p>
    <p ng-show="(CreditorGroupCtrl.debtorGroups.length == 0) && !CreditorGroupCtrl.loadingError && !CreditorGroupCtrl.loadingState"
      class="text-center text-danger" translate>
      FORM.LABELS.NO_CASHBOXES_REGISTRED
    </p>
  </div>

  <!-- list pagination -->
  <div uib-pagination
    total-items="CreditorGroupCtrl.debtorGroups.length"
    ng-model='CreditorGroupCtrl.currentPage'
    items-per-page='CreditorGroupCtrl.pageSize'
    next-text="&rsaquo;"
    previous-text="&lsaquo;"
    first-text="&lsaquo;&lsaquo;"
    last-text="&rsaquo;&rsaquo;"
    boundary-links="true">
  </div>
</div>
